{% extends  'base.html' %} <!-- esse eh o base -->
{% load static %}
{% block conteudo %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Censo</title>
</head>
<body>
    <div class="card mb-4">
        <div class="card-body">
         <div>
              <h1>Censo Escolar da Educação Básica</h1>

                <p>O Censo Escolar da Educação Básica, é uma pesquisa declaratória realizada anualmente pelo Ministério da Educação (MEC), com a colaboração das secretarias estaduais e municipais de educação, e com a participação de todas as escolas públicas e privadas do país. Seu objetivo principal é coletar informações estatístico-educacionais sobre a educação básica brasileira, abrangendo desde o ensino infantil até o ensino médio.</p>
             </div>
            </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
                 <h2>Conheça mais sobre o Censo Educacional</h2>
                <a href="https://www.gov.br/inep/pt-br/areas-de-atuacao/pesquisas-estatisticas-e-indicadores/censo-escolar"> Site oficial</a>

        </div>
     </div>

</body>
</html>
{% endblock %}